#mainContent {
    display: flex;
    justify-content: center;
    border-style: solid;

}

#mainContent .textAreaTitle {
    text-align: center;
}

#mainContent ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
}

#mainContent li {
    box-sizing: border-box;
}

#showcase {
    height: 110px;
    width: 400px;
    text-align: center;

    background-color: cornflowerblue;
}

.inlineText {
    display: inline;
    font-size: 18px;
}



#colorGenerator {
    max-height: 40px;
    border-style: solid;
}

#colorPicker[type="color"] {
    -webkit-appearance: none;
     width: 30px;
     height: 30px;
     border: 1;
     border-style: solid;
     border-width: 2px;
     border-radius: 50%;
     border-color: black;
     padding: 0;
     overflow: hidden;
 }

 #colorPicker[type="color"]::-webkit-color-swatch-wrapper {
     padding: 0;
 }
 
 #colorPicker[type="color"]::-webkit-color-swatch {
     border: none;
 }

